body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-white);
  background-image: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-light));
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
}
