@import "../../../scss/variables";

.input {
  border: 1px solid $primary-color;
  border-radius: 50px;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  outline: none;
  transition: all 500ms;

  &:focus-within {
    border: 1px solid $hover-color;
  }

  input {
    background-color: transparent;
    border: none;
    outline: none;
  }
}
