.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}

.content {
  width: 120rem;
}
