.navigation {
  flex: 1;

  &__list {
    display: flex;
    list-style: none;
    justify-content: end;
  }

  &__item {
    font-size: 1.6rem;
    font-weight: 600;

    &:not(:first-child) {
      margin-left: 4rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: white;
    }
  }
}