.navigation {
  flex: 1;

  &__list {
    display: flex;
    list-style: none;
    justify-content: end;
  }

  &__item {
    &:not(:first-child) {
      margin-left: 1.8rem;
    }
  }

  &__link {
    transition: all .3s;

    &:link,
    &:visited {
      font-size: 1.6rem;
      font-weight: 400;
      color: var(--color-grey-light-1);
      text-decoration: none;
    }

    &:hover {
      &:link,
      &:visited {
        text-shadow: 0 0 2rem var(--color-white);
        color: var(--color-white);
      }
    }

    &--active {
      &:link,
      &:visited {
        color: var(--color-white);
        font-weight: 600;
      }
    }
  }
}