@import "../../scss/variables";

.table {
  max-width: 100%;
  display: relative;
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      border-bottom: 1px solid transparent;
      background-image: linear-gradient($secondary-color, $secondary-color),
        linear-gradient(to left, $primary-color, $hover-color, $primary-color);
      background-origin: border-box;
      background-clip: content-box, border-box;

      tr {
        th {
          text-align: left;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 5px;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 100px;
          overflow: hidden;
        }
      }
    }
  }
}
