.box {
  display: flex;

  @include respond(tab) {
    flex-direction: column;
  }

  &__left {
    flex: 0 0 49%;
    display: flex;
    flex-direction: column;

    @include respond(tab) {
      flex: 1;
    }
  }

  &__right {
    flex: 0 0 49%;
    display: flex;
    align-items: flex-end;
    align-self: flex-start;
    flex-direction: column;
    margin-left: auto;

    @include respond(tab) {
      flex: 1;
      margin-left: 0;
      align-self: stretch;
    }
  }

  &__img {
    width: 30rem;
    filter: drop-shadow(-.6rem 0 .6rem var(--color-black));
  }

  &__img + * {
    margin-top: -4.1rem;
    position: relative;
  }
}