:root {
  --color-primary: #1F1F1F;
  --color-primary-light: #313131;

  --color-secondary: #4CA7FF;
  --color-secondary-light: #67D0F4;

  --color-black: #000;
  --color-white: #FFF;

  --color-grey-light-1: #ADADAD;
}
